<div id="workout">
    <p><%= @workout.date %></p>
    <p><%= @workout.workout %></p>
    <p><%= @workout.mood %></p>
    <p><%= @workout.length %></p>
</div>

<%= link_to "Vrati se", root_path %> |
<%= link_to "Izmeni", edit_workout_path(@workout) %> |
<%= link_to "Obrisi", workout_path(@workout), method: :delete, data: { confirm: "Jesi siguran?" } %>
